<div class="fs-1-1">
    <a class="dropdown-toggle py-0" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span ng-cloak class="d-none d-md-inline mr-2">{{$ctrl.user.name + ' ' + $ctrl.user.surname}}</span><i class="fas fa-user-circle fa-fw"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="userDropdown">
        <a class="dropdown-item d-block" ui-sref="base.content.user.profile">Προφίλ</a>
        <a class="dropdown-item d-block" data-toggle="modal" data-target="#logoutModal">Αποσύνδεση</a>
    </div>
</div>
