<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Login | The Healthmasters</title>
		<link rel="icon" type="image/x-icon" href="../img/logo-healthmasters.png"/>

		<!-- CSS -->
		<link rel="stylesheet" href="../bower_components/fontawesome/css/all.min.css" type="text/css">
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="../styles/app.css">
		<link rel="stylesheet" href="../styles/sb-admin.css">
	</head>
	<body class="bg-dark">

		<div ng-app="loginApp">
			<div class="container">
				<div class="row justify-content-center mt-5">
					<div class="col text-center">
						<img class="login-logo" src="../img/logo-healthmasters.png">
					</div>
				</div>
				<div class="row justify-content-center mt-5">
					<div class="col">
						<div class="card mw-25 mx-auto">
							<div class="card-header text-center">The Healthmasters</div>
							<div class="card-body">
								<form name="loginForm">
									<div class="form-group">
										<div class="form-label-group">
											<input ng-model="credentials.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
											<label for="inputEmail">Email</label>
										</div>
									</div>
									<div class="form-group">
										<div class="form-label-group">
											<input ng-model="credentials.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
											<label for="inputPassword">Κωδικός</label>
										</div>
									</div>
									<button type="submit" ng-click="login()" ng-disabled="!loginForm.$valid" class="btn btn-primary btn-block" href="index.html">Είσοδος</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center mt-2">
					<div class="col">
						<div class="alert alert-danger mw-25 mx-auto d-none" ng-class="{'d-block': status === 'email_invalid'}" role="alert">
							Λάθος email.
						</div>
						<div class="alert alert-danger mw-25 mx-auto d-none" ng-class="{'d-block': status === 'password_invalid'}" role="alert">
							Λάθος κωδικός.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- JavaScript Modules -->
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>

		<!-- AngularJS [app, utilities, services, controllers] -->
		<script src="loginApp.js"></script>
	</body>
</html>