<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Login | Healthmasters</title>
		<link rel="icon" type="image/x-icon" href="../img/logo-healthmasters.png"/>

		<!-- CSS -->
		<link rel="stylesheet" href="../css/open-sans.css">
		<link rel="stylesheet" href="../bower_components/bootstrap-4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="../bower_components/fontawesome-5.3.1/css/all.css">
		<link rel='stylesheet' href='../bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all'>
		<link rel="stylesheet" href="../css/app.css">

	</head>
	<body>

		<div ng-app="loginApp" class="app-body">
			<div class="container-fluid">
				<div class="row py-4">
					<div class="col">
						<div class="row justify-content-center">
							<div class="col-md-2">
								<img class="w-100" src="../img/logo-healthmasters.png">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-md-4">
								<div class="bg-white p-4 border rounded shadow-sm">
									<div class="text-center">
										<h5>Είσοδος Healthmasters</h5>
									</div>
									<hr class="my-4">
									<form class="label-09" name="loginForm">
										<div class="form-group">
											<label>Email</label>
											<input ng-model="login.email" type="text" class="form-control form-control-sm" placeholder="Email" required>
										</div>
										<div class="form-group">
											<label>Password</label>
											<input ng-model="login.password" type="password" class="form-control form-control-sm" placeholder="Password" required>
										</div>
										<button ng-click="login()" ng-disabled="!loginForm.$valid" type="submit" class="btn btn-success">Είσοδος</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- JavaScript Modules -->
		<script src="../bower_components/jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../bower_components/bootstrap-4.1.3/js/bootstrap.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-loading-bar/build/loading-bar.min.js"></script>

		<!-- AngularJS [app] -->
		<script src="loginApp.js"></script>

	</body>
</html>
