<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item active">Συνολική Εικόνα</li>
</ol>
<div class="add-trainee">
	<div class="row justify-content-center">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<i class="fas fa-chart-bar mr-1"></i> Δημογραφικά
				</div>
				<div class="card-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<canvas id="pieOverview" width="800" height="400"></canvas>
							</div>
							<div class="col-md-6">
								<canvas id="barOverview" width="800" height="400"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>