<div class="row mb-4">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table st-table="displayedTrainees" st-safe-src="filteredTrainees" class="table mb-0">
						<thead>
							<tr class="blue text-white shadow-sm">
								<th st-ratio="6">#</th>
								<th st-ratio="5" st-sort="gender"></th>
								<th st-ratio="43" st-sort="fullname">Όνομα</th>
								<th st-ratio="30" st-sort="occupation">Επάγγελμα</th>
								<th st-ratio="8"></th>
								<th st-ratio="8"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="displayedTrainees.length === 0">
								<td colspan="6" class="text-center p-4">Κανένας διαθέσιμος ασκούμενος</td>
							</tr>
							<tr ng-repeat="trainee in displayedTrainees" ng-click="goToTraineeMeasurements(trainee.id)" class="hover-dark">
								<td>{{$index + 1}}</td>
								<td>
									<i class="fas fa-2x ml-2" ng-class="{
										'fa-male text-primary': trainee.gender === 'male',
										'fa-female text-pink': trainee.gender === 'female'}">
									</i>
								</td>
								<td>
									<span md-highlight-text="query" md-highlight-flags="i">{{trainee.fullname}}</span>
								</td>
								<td>{{trainee.occupation ? trainee.occupation:'---'}}</td>
								<td class="text-center">
									<button ng-click="goToTraineeInfo(trainee.id);$event.stopPropagation();"
										type="button"
										class="btn btn-sm btn-light"
										data-toggle="tooltip"
										title="Στοιχεία">
										<i class="far fa-address-card"></i>
									</button>
								</td>
								<td class="text-center">
									<button ng-click="deleteTrainee(trainee.id);$event.stopPropagation();"
										type="button"
										class="btn btn-sm btn-danger"
										data-toggle="tooltip"
										title="Διαγραφή">
										<i class="far fa-trash-alt"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="7" class="text-center">
									<div st-pagination st-items-by-page="10" st-displayed-pages="10" st-template="templates/custom-templates/pagination.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>