<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a ui-sref="base.trainee.show">Ασκούμενοι</a>
	</li>
	<li class="breadcrumb-item active">{{trainee.fullname}}</li>
	<li class="breadcrumb-item active">Μετρήσεις</li>
</ol>
<div class="show-measurement">
	<div class="row justify-content-center mb-4">
		<div class="col">
			<div class="card">
				<div class="card-header blue lighten-2 text-white">
					<i class="fas fa-table mr-1"></i> Μετρήσεις
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table st-table="displayedMeasurements" st-safe-src="mergedMeasurements.allMeasurements" class="table table-sm table-striped">
							<thead>
								<tr>
									<th colspan="2" class="border-top-0 border-bottom-0"><input st-search="" class="form-control" type="text" placeholder="Αναζήτηση..."/></th>
								</tr>
								<tr>
									<th st-ratio="18" st-sort="measurement_date" st-sort-default="reverse">Ημερ/νία</th>
									<th st-ratio="12" st-sort="weight">Βάρος</th>
									<th st-ratio="12" st-sort="fat">Λίπος</th>
									<th st-ratio="13" st-sort="muscle">Μυικότητα</th>
									<th st-ratio="12" st-sort="bmi">BMI</th>
									<th st-ratio="12" st-sort="rm">RM</th>
									<th st-ratio="14" st-sort="visceral">Σπλαχνικό</th>
									<th st-ratio="7"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="mergedMeasurements.allMeasurements.length === 0" class="fs-09 text-center">
									<td colspan="8">Δεν υπάρχουν μετρήσεις ακόμα.</td>
								</tr>
								<tr class="fs-09" ng-repeat="measurement in displayedMeasurements">
									<td st-ratio="18">{{measurement.measurement_date | date : "dd-MM-yyyy"}}</td>
									<td st-ratio="12">{{measurement.weight ? measurement.weight : '---'}}</td>
									<td st-ratio="12">{{measurement.fat ? (measurement.fat + ' %') : '---'}}</td>
									<td st-ratio="13">{{measurement.muscle ? (measurement.muscle + ' %') : '---'}}</td>
									<td st-ratio="12">{{measurement.bmi ? measurement.bmi : '---'}}</td>
									<td st-ratio="12">{{measurement.rm ? measurement.rm : '---'}}</td>
									<td st-ratio="14">{{measurement.visceral ? measurement.visceral : '---'}}</td>
									<td st-ratio="7" class="text-center">
										<button type="button" ng-click="deleteMeasurement(measurement._id)" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Διαγραφή"><i class="far fa-trash-alt"></i></button>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="8" class="text-center">
										<div st-pagination st-items-by-page="10" st-displayed-pages="10" st-template="templates/custom-templates/pagination.html"></div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-md-4">
		<div class="col-md-6 mb-4 mb-md-0">
			<div class="card">
				<div class="card-header blue lighten-2 text-white">
					<i class="fas fa-chart-line"></i> Εξέλιξη Βάρους
				</div>
				<div class="card-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<canvas id="weightEvolution"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-4 mb-md-0">
			<div class="card">
				<div class="card-header blue lighten-2 text-white">
					<i class="fas fa-chart-line"></i> Εξέλιξη Λίπους - Μυικότητας - BMI
				</div>
				<div class="card-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<canvas id="fatMuscleEvolution"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>